body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background: #fefefe;
}

.dashboard-pending-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0 15px;
    box-sizing: border-box;
}

.dashboard-pending-main-inner {
    width: 100%;
}

.dashboard-pending-main-inner i {
    font-size: 62px;
    display: block;
    text-align: center;
    color: #FFC107;
    margin-bottom: 30px;
}

.dashboard-pending-title {
    font-size: 16px;
    display: block;
    text-align: center;
    color: #000000;
    font-weight: 700;
    margin-bottom: 5px;
}

.dashboard-pending-subtitle {
    font-size: 12px;
    display: block;
    text-align: center;
}

.dashboard-pending-button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    outline: none !important;
    border-radius: 3px;
    border: 0;
    background: #03A9F4;
    color: #ffffff;
    transition: all 0.05s ease 0s;
    margin: 20px 0;
}

.dashboard-pending-sub-button {
    display: block;
    width: 100%;
    text-align: center;
    background: transparent;
    border: 0;
    outline: none !important;
    color: #009688;
    font-family: 'Montserrat', sans-serif;
}