body {
    padding: 0 10px;
    margin: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: #fefefe;
}

h1, h2, p, span {
    margin: 0;
    padding: 0;
}

.edit-item-header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-item-header i {
    font-size: 20px;
}

.edit-item-title span {
    font-size: 16px;
    font-weight: 700;
    display: block;
}

.edit-item-title {
    margin-bottom: 15px;
}

.label {
    font-size: 12px;
    color: #0f0f0f;
}

.input-group {
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.input-group img {
    margin-bottom: 5px;
}

.input-control-group {
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.input-control-group span {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 3px;
}

.input-control-group input {
    width: 100%;
    font-size: 14px;
    border: 0;
    border-bottom: 1px solid #999999;
    padding: 5px 0;
    border-radius: 0;
    outline: none !important;
    font-family: 'Montserrat', sans-serif;
}

.button {
    margin-top: 20px;
    margin-bottom: 10px;
}

.button input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    outline: none !important;
    border-radius: 3px;
    border: 0;
    background: #dddddd;
    color: #999999;
    transition: all 0.05s ease 0s;
}

.mt-25 {
    margin-top: 15px;
}

.pb-10 {
    padding-bottom: 10px;
}

[readonly] {
    color: #888888;
}

.mobile-desc {
    font-size: 12px;
    margin-top: -5px;
    display: block;
    color: #444;
}

.type-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.type-main .type-box {
    font-size: 12px;
    border: 1px solid #999;
    padding: 5px 10px;
    border-radius: 2px;
    margin-right: 10px;
}

.type-box.active {
    border: 1px solid #FF5722;
    background: #FF5722;
    color: #ffffff;
}

.category-main {
    margin-top: 10px;
    margin-bottom: 25px;
}

.category-box {
    font-size: 12px;
    border: 1px solid #999;
    padding: 5px 10px;
    border-radius: 2px;
    margin-right: 10px;
    display: inline-block;
    margin-top: 10px;
}

.category-add-box {
    font-size: 12px;
    color: #00BCD4;
    border: 1px solid #fefefe;
    padding: 5px 0px;
    margin-right: 10px;
    display: inline-block;
    margin-top: 10px;
}

.category-box.active {
    border: 1px solid #FF5722;
    background: #FF5722;
    color: #ffffff;
}