body {
    padding: 0 10px;
    margin: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: #fefefe;
}

h1, h2, p, span {
    margin: 0;
    padding: 0;
}

.edit-profile-header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-profile-header i {
    font-size: 20px;
}

.edit-profile-title span {
    font-size: 16px;
    font-weight: 700;
    display: block;
}

.edit-profile-title {
    margin-bottom: 15px;
}

.label {
    font-size: 12px;
    color: #0f0f0f;
}

.input-group {
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.input-group img {
    margin-bottom: 5px;
}

.input-control-group {
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.input-control-group span {
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 3px;
}

.input-control-group input {
    width: 100%;
    font-size: 14px;
    border: 0;
    border-bottom: 1px solid #999999;
    padding: 5px 0;
    border-radius: 0;
    outline: none !important;
    font-family: 'Montserrat', sans-serif;
}

.button {
    margin-top: 20px;
    margin-bottom: 10px;
}

.button input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    outline: none !important;
    border-radius: 3px;
    border: 0;
    background: #dddddd;
    color: #999999;
    transition: all 0.05s ease 0s;
}

.mt-25 {
    margin-top: 15px;
}

.pb-10 {
    padding-bottom: 10px;
}

[readonly] {
    color: #888888;
}

.mobile-desc {
    font-size: 12px;
    margin-top: -5px;
    display: block;
    color: #444;
}

input#restaurant-image {
    padding: 0;
    border: 0;
}

.timing-group {
    justify-content: space-between;
}

.timing-group > span:first-child {
    font-size: 12px;
    padding: 0;
    margin-bottom: 0;
}

.timing-group > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.timing-group > div > select {
    /* border-radius: 0;
    border: 1px solid rgb(153 153 153);
    font-size: 14px;
    outline: none !important; */
    outline: none !important;
    border: 1px solid rgb(153 153 153);
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    background: rgb(254 254 254);
}

.timing-group > div > select:nth-child(1), .timing-group > div > select:nth-child(4) {
    margin-right: 5px;
}

.timing-separator {
    width: 7px;
    height: 1px;
    background: rgb(153 153 153);
    padding: 0 !important;
    margin: 0 5px !important;
}

.input-control-group.uploads-box span {
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.input-control-group.uploads-box {
    margin-bottom: 5px;
    justify-content: space-between;
}

.input-control-group.uploads-box input {
    display: none;
}

.upload-button {
    color: rgb(255 255 255) !important;
    background: rgb(3, 169, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px !important;
    padding: 10px !important;
    border-radius: 3px;
}

.input-group.upload-main {
    display: block;
}

.map-container {
    display: none;
}

.map-container.active {
    display: block;
    z-index: 999;
    height: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
}

.map.active {
    height: 90%;
    position: relative;
    overflow: hidden;
}

.open-map-button {
    width: 100%;
    font-size: 14px !important;
    border: 0;
    border-bottom: 1px solid rgb(153 153 153);
    padding: 5px 0 !important;
}

.button.map-button {
    position: relative;
    height: 10%;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    background: rgb(255 255 255);
    padding: 0 10px;
    box-sizing: border-box;
}

.button.map-button input {
    background: #03a9f4;
    color: #ffffff;
}