body {
    padding: 0 10px;
    margin: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: #fefefe;
}

h1, h2, p, span {
    margin: 0;
    padding: 0;
}

.manage-orders-header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.manage-orders-header i {
    font-size: 20px;
}

.manage-orders-title {
    margin-bottom: 25px;
}

.manage-orders-title span {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
}

.your-order-list {
    padding: 15px;
    /* box-sizing: border-box;
    box-shadow: 0 0 2px 0 #dddddd; */
    border-radius: 4px;
    margin-bottom: 25px;
    border: 2px solid #eeeeee;
}

.list-header {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px;
    overflow: hidden;
    width: 100%;
}

.header-image {
    width: 75px;
    height: 45px;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 4px;
}

.header-image.no-image {
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    color: #444444;
    text-align: center;
}

.header-image.no-image:after {
    content: 'No Image Available';
}

.header-image img {
    width: 100%;
    height: 100%;
}

.header-block {
    overflow: hidden;
    width: 100%;
}

.header-block span {
    display: block;
}

.header-block span:first-child {
    font-size: 14px;
    font-weight: 600;
}

.header-block span:last-child {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-body {
    padding: 15px 0;
}

.list-group {
    margin-bottom: 15px;
}

.list-group span:first-child {
    font-size: 12px;
    color: #444444;
    display: block;
    font-weight: 400;
}

.list-group span {
    font-size: 14px;
    display: block;
    color: #000000;
    font-weight: 600;
}

.list-group.last {
    margin-bottom: 0;
}

.list-footer {
    border-top: 1px solid #eeeeee;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-footer span {
    font-size: 12px;
}

.update-status-button {
    font-size: 12px;
    border: 1px solid #999;
    padding: 5px 10px;
    border-radius: 2px;
}

.update-status-button.active {
    background: #FF5722;
    color: #ffffff;
    border: 1px solid #FF5722;
}

.empty-box {
    display: block;
    margin-top: -10px;
    font-size: 14px;
    color: #888888;
}

.driver-image {
    width: 100%;
    border-radius: 4px;
    margin: 5px 0;
}